.text-hide {
  color: transparent;
}

#about {
  background: url(../images/bgAbout.jpg) no-repeat center center fixed; 
  background-size: 100%;

  background-color: #141414;
}


.about-bg {
  padding-top: 115px;

}

.about-content {
  margin-top: 50px;
  margin-bottom: 80px;
}

.about-content h1,
.about-content h4{
  text-transform: uppercase;
  font-weight: 400;

}

.about-content h4{
  font-size: 20px;
  letter-spacing: 2px;
  color: #bec3c7;
  margin-bottom: 20px;

}

.about-content h1{
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 3px;
  color: #efc60c;
  margin-bottom: 50px;

}

.about-content p{
  font-size: 16px;
  line-height: 30px;
  color: #bec3c7;
  margin-bottom: 30px;
}



.rm-btn {
  display: inline-block;
  border: 5px solid #efc60c;
  color: #bec3c7;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 20px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all .35s;
  transition: all .35s;
}

.rm-btn:hover {
  background-color: #efc60c;
  color: #0a0a0a;
}



/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 900px) {
  
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .about-bg {
    padding: 0px;
  }
  #about {
  background: url(../images/bgAbout-sm.jpg) no-repeat 35% 0px scroll; 
  background-size: auto 650px, cover;
  background-color: #141414;
}


}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  
}

