#contact{
	background-color:#0a0a0a;
	padding:30px 0px;
	width:100%;
	min-height:350px;
	height:100%;
}

.contact_title{
	color:#eff3f3;
	font-size:28px;
	line-height:48px;
}

.contact_input, .contact_textbox{
	width:100%;
	padding:10px;
	border:none;
	margin:8px 0px;
}

.contact_textbox{
	height:87px;
	margin-top:56px;
}

.contact_btn{
	display: inline-block;
	border:3px solid #d8d8d8;
	color:#d8d8d8;
	text-decoration: none;
	font-size:16px;
	margin-top:3px;
	padding:8px;
	width:49%;
	text-align: center;
	text-transform: uppercase;
	transition: all .35s;
}

.contact_btn:hover{
	background-color:#d8d8d8;
	color:#0a0a0a;
}

#grwebd_submit.contact_btn{
	border-color:#f1c40f;
	color:#f1c40f;
}

#grwebd_submit.contact_btn:hover{
	background-color:#f1c40f;
	color:#0a0a0a;
}

.contact_links a{
	display: inline-block;
	margin:5px;
}

.contact_text{
	font-size:14px;
	color:#7d7d7d;
	margin-top:20px;
	line-height: 16px;
}


/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 900px) {
  
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #contact{
  	padding-top:0px;
  }

  .contact_textbox{
  	margin-top: 10px;
  }

  .contact_btn{
  	padding:12px;
  }

  .contact_title{
  	margin-top:30px;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {

}