.menu-btn {
  display: none;
  position: fixed;
  left: 0px;
    -webkit-transition: all 0.3s ease 0.3s;
          transition: all 0.3s ease 0.3s;
}

.menu-btn.active {
  left: 270px;
}


.menu-icon {
  position: relative;
  display: block;
  width: 30px;
  height: 40px;
  cursor: pointer;
  margin-left: 10px;
}
/*
.menu-icon:hover span {
  background: #222;
}
.menu-icon:hover span:before, .menu-icon:hover span:after {
  background: #222;
}
*/

.menu-icon > span {
  position: absolute;
  top: 50%;
  display: block;
  width: 100%;
  height: 0.25em;
  background-color: #bbbbbb;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #bbbbbb;
  border-radius: 3px;
  -webkit-transition: -webkit-transform 0.3s, background 0.25s ease;
  transition: transform 0.3s, background 0.25s ease;
}

.menu-icon > span:before {
  -ms-transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.menu-icon > span:after {
  -ms-transform: translateY(10px);
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

/* OPENED */
.menu-icon.open {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.menu-icon.open > span:before {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}

.menu-icon.open > span:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}


.main-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #121212;
  text-align: center;
      -webkit-transition: all 0.3s ease 0.3s;
          transition: all 0.3s ease 0.3s;
}

.main-nav nav li {
  display: inline-block;
  padding: 24px 10px;
}

.main-nav nav li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #bec3c7;
}

/* This class is added on scroll */

.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}