.main-nav {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: #121212;
  text-align: center;
}

.main-nav nav li {
  display: inline-block;
  padding: 24px 10px;
}

.main-nav nav li a{
  text-transform: uppercase;
  text-decoration: none;
  color: #bec3c7;
}

/* This class is added on scroll */

.fixed {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 1;
}