/*==========  Non-Mobile First Method  ==========*/


/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 900px) {
  
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  
  #landing-page {
    height: 400px;
  }
  
  .menu-btn {
    display: block;
  }
  
  .main-nav {
    position: fixed;
    height: 100%;
    width: 270px;
    left: -270px;
    border-right: 1px solid #000;
  }
  
  .main-nav.active {
    left: 0px;
  }
  
  .main-nav nav li {
    display: block;
    text-align: left;
  }

}


/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}