<div class="container about-bg">
  <div class="row">
    <div class="col-6 text-hide">asd</div>
    <div class="col-5">
      <div class="about-content">
        <h4>escape to survive</h4>
        <h1>Learn the basics</h1>
        <p>For more advice, feel free to check out he free e-books Designing Better UX with UI Patterns and Web UI Patterns.</p>
        <p>In this piece, we'll examine 5 creative yet highly usable navigation patters. Like we explored in the free e-books Mobile UI Design Patterns.</p>
        <p>Affordance of user-interface element, and why that is so important. Can the users relate the labels in the navigation design to their explicit.</p>
        <a href="#" class="rm-btn">read more</a>
      </div>
    </div>
  </div>
</div>