<div class="container">
  <div class="row">
    <form id="myform" method="post">
        <div class="col-4">
        	<h1 class="contact_title">Contact</h1>
        	<input type="text" class="contact_input" name="grwebd_name" id="grwebd_name" placeholder="Name" />
        	<input type="text" class="contact_input" name="grwebd_email" id="grwebd_email" placeholder="Email" />
        	<input type="text" class="contact_input" name="grwebd_subject" id="grwebd_subject" placeholder="Subject" />
        </div>
        <div class="col-4">
        	<textarea class="contact_textbox" name="grwebd_message" id="grwebd_message" placeholder="Message"></textarea>
        	<a href="#" id="grwebd_submit" class="contact_btn">Submit</a>
        	<a href="#" id="grwebd_cancel" class="contact_btn">Cancel</a>
        </div>
        <div class="col-4">
        	<h1 class="contact_title">Follow Me</h1>
        	<div class="contact_links">
        		<a href="#" target="_blank"><img src="images/contact_fb.png" /></a>
        		<a href="#" target="_blank"><img src="images/contact_twitter.png" /></a>
        		<a href="#" target="_blank"><img src="images/contact_youtube.png" /></a>
        	</div>
        	<div class="contact_text">
        		The Hour Self-defense Copyright &#169; 2015.<br />Created by: Gabrielle Mojica
        	</div>
        </div>
    </form>
  </div>
</div>