<div class="menu-btn">
  <div class="menu-icon">
    <span></span>
  </div>
</div>
<div class="main-nav">
  <nav>
    <ul>

      <li class="nav-logo">
        <a href="#">
          <img src="images/brand_nav.png">
          <div class="logo-content">
            <p>the Hour for</p>
            <h1>Self Defense</h1>
          </div>
        </a>
      </li>

      <li class="active">
        <a href="#">
          <span class="nav-icons icon-home"></span>
          Home
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-icons icon-about"></span>
          About
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-icons icon-video"></span>
          Videos
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-icons icon-the-hour"></span>
          The hour
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-icons icon-contact"></span>
          Contact
        </a>
      </li>
    </ul>
  </nav>
</div>

<script>
  $(".menu-icon").on("click", function () {
    $(this).toggleClass("open");
    $(".menu-btn, .main-nav").toggleClass("active");
  });
</script>