<div class="the-hour_container">
	<ul class="th_lists">
		<li>
			<div class="th_content top">
				<span class="th_time"><i class="th_icon hourglass"></i>November 11, 2015 Wednesday</span>
				<div class="th_title">What Everyone Should Know</div>
				<a class="th_link" href="#">View</a>
			</div>
			<div class="th_photo bottom"><img src="images/articles/image3.jpg" /></div>
		</li>
		<li>
			<div class="th_content bottom">
				<span class="th_time"><i class="th_icon hourglass"></i>Thursday November 12, 2015</span>
				<div class="th_title">Things you should never do after a self-defense shooting</div>
				<a class="th_link" href="#">View</a>
			</div>
			<div class="th_photo top"><img src="images/articles/image9.jpg" /></div>
		</li>
		<li>
			<div class="th_content top">
				<span class="th_time"><i class="th_icon hourglass"></i>Friday November 13, 2015</span>
				<div class="th_title">Claims that self-defense can only be under specific circumstances</div>
				<a class="th_link" href="#">View</a>
			</div>
			<div class="th_photo bottom"><img src="images/articles/image7.jpg" /></div>
		</li>
		<li>
			<div class="th_content bottom">
				<span class="th_time"><i class="th_icon hourglass"></i>Sunday November 15, 2015</span>
				<div class="th_title">Classes Teaches Women to Protect Themselves</div>
				<a class="th_link" href="#">View</a>
			</div>
			<div class="th_photo top"><img src="images/articles/image5.jpg" /></div>
		</li>
		<li>
			<div class="th_content top">
				<span class="th_time"><i class="th_icon hourglass"></i>Monday November 16, 2015</span>
				<div class="th_title">Arming Yourself of self-defense</div>
				<a class="th_link" href="#">View</a>
			</div>
			<div class="th_photo bottom"><img src="images/articles/image6.jpg" /></div>
		</li>
		<li>
			<div class="th_content bottom">
				<span class="th_time"><i class="th_icon hourglass"></i>Wednesday November 18, 2015</span>
				<div class="th_title">Simple self defense moves that could protect you in street crime</div>
				<a class="th_link" href="#">View</a>
			<div class="th_photo top"><img src="images/articles/image8.jpg" /></div>
			</div>
		</li>
	</ul>
</div>
<div class="the-hour_details">
	<div class="thd_content">
		<h1 class="thd_title">What everyone should know</h1>
		<p class="thd_text">With this simple plug-in you can choose to use the right-sidebar or the left-sidebar and switch from one to the other in just one type. is an off-canvas navigation menu for your website I'm using sticky.js to fix my header to the top of the window at all times, which seems to be working fine. Then I added pushy.js to add the</p>
		<p class="thd_text">s a responsive off-canvas navigation menu using CSS transforms &amp; transitions. ... jQuery animation fallback for IE 7 - 9. Menu closes when a link  off-canvas navigation menu for your website. ... jQuery animation fallback for IE 7 - 9. Menu closes when a link is selected. Menu closes simple plug-in you can choose to use the right-sidebar or the left-sidebar and switch from one to the other in just one type. slide </p>
	</div>
</div>
<script type="text/javascript">
  
  // The Hour touch scroll
 //  $(".the-hour_container").smoothDivScroll({
	// hotSpotScrolling: false,
	// touchScrolling: true
 //  });

  // Bind click for The Hour links
  $('ul.th_lists li').click(function(){
  	$(this).siblings().removeClass('active');
    $(this).toggleClass('active');
    // console.log('what the fudge!?');
  });
</script>